<div class="submit-form">

  <div *ngIf="!submitted">

    <div class="form-group">
      <mat-form-field class="form-full-width">
        <input type="text" placeholder="Select Name PODA" id="name" required [(ngModel)]="tutorial.name" matInput
          [formControl]="myControl" [matAutocomplete]="auto" name="name" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <ng-container *ngIf="show">
      <div class="form-group">
        <ejs-datepicker type="time" id="datepicker" placeholder='Select Date' [min]='minDate' required
          [(ngModel)]="tutorial.date" name="date"></ejs-datepicker>
      </div>

      <div class="form-group" id="time">
        <h4>Choose a time</h4>
        <input id="appt-time" type="time" required [(ngModel)]="tutorial.time" name="appt-time" step="2">
      </div>
    </ng-container>

    <div style="text-align: left">
      <h3 id="manualtxt">Click Late to choose previous dates</h3>
      <button style="margin:10px;" id="auto" (click)="getcurrent()" mat-fab>Today</button>
      <button style="margin:10px;" id="manual" (click)="hideFunction()" mat-fab>Last</button>
    </div>

    <button style="margin:10px;" (click)="saveTutorial()" class="btn btn-success">Submit</button>
  </div>
</div>

<div style="text-align: center" *ngIf="submitted">
  <h4>Claim submitted successfully!</h4>
  <button class="btn btn-success" (click)="newTutorial()">Add</button>
</div>
